.form-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* TITULO SECCIÓN */
.section-title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #acacac;
}

/* GRID GENERAL */
.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 20px;
}

/* CAMPO */
.field {
    display: flex;
    flex-direction: column;
    border: none;
}

label {
    margin-bottom: 4px;
    font-size: 0.9rem;
    color: #929292;
}

/* INPUTS */
input, select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem;
    background-color: #fafafa;
}

input:focus, select:focus {
    outline: none;
    border-color: #888;
}

/* INPUTS DESABILITADOS A LA EDICION */
.inputDisabled{
    color: #414141;
    user-select: none;
    cursor: not-allowed;
}


/* BOTÓN */
.buttonConteiner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}


.btn{
    margin-top: 30px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#btn-actualizar{   
    background-color: #39c240;
}

#btn-actualizar:hover {
    background-color: #43a047;
}

#btn-actualizar:disabled {
    cursor: not-allowed;
    background-color: #39c240;
}



#btn-borrar{
    background-color: #d80303;
}

#btn-borrar:hover {
    background-color: #a80101;
}


/* MENSAJE DE ERROR */
.errorMessage{
    color: red;
    margin-top: 10px;
}