<!-- Fondo oscuro difuminado -->
<div class="modal-backdrop"></div>

<div class="modal-container">

    @if (isAdding()) {
        <h2 class="modal-title">Agregar Alimento</h2>
    }@else if (isEditing()) {
        <h2 class="modal-title">Editar Alimento</h2>
    }


    <form [formGroup]="form" class="modal-form">

        <label>Nombre:</label>
        <input type="text" formControlName="nombreComida" formControlName="nombreComida" placeholder="Ingrese un nombre">
        @if (nombreComida.dirty) {
            @if (nombreComida.hasError("required")) {
                <span class="errorMessage">Es requerido</span>
            }@else if (nombreComida.hasError("minlength")) {
                <span class="errorMessage">El minimo es de 2 letras</span>   
            }@else if (nombreComida.hasError("maxlength")) {
                <span class="errorMessage">El maximo es de 20 letras</span>   
            }@else if (nombreComida.hasError("pattern")) {
                <span class="errorMessage">Solo pueden ser letras</span>   
            }
        }

        <label>Porción (g):</label>
        <input type="number" formControlName="gramosPorPorcion">
        @if (gramosPorPorcion.dirty) {
            @if (gramosPorPorcion.hasError("required")) {
                <span class="errorMessage">Es requerido</span>
            }@else if (gramosPorPorcion.hasError("min")) {
                <span class="errorMessage">El valor no puede ser negativo ni 0</span>   
            }@else if (gramosPorPorcion.hasError("max")) {
                <span class="errorMessage">El maximo es de 5</span>   
            }
        }

        <label>Calorías:</label>
        <input type="number" formControlName="calorias" formControlName="calorias">
        @if (calorias.dirty) {
            @if (calorias.hasError("required")) {
                <span class="errorMessage">Es requerido</span>
            }@else if (calorias.hasError("min")) {
                <span class="errorMessage">El valor no puede ser negativo</span>   
            }@else if (calorias.hasError("max")) {
                <span class="errorMessage">El maximo es de 5</span>   
            }
        }

        <label>Proteínas:</label>
        <input type="number" formControlName="proteinas" formControlName="proteinas">
        @if (proteinas.dirty) {
            @if (proteinas.hasError("required")) {
                <span class="errorMessage">Es requerido</span>
            }@else if (proteinas.hasError("min")) {
                <span class="errorMessage">El valor no puede ser negativo</span>   
            }@else if (proteinas.hasError("max")) {
                <span class="errorMessage">El maximo es de 5</span>   
            }
        }

        <label>Carbohidratos:</label>
        <input type="number" formControlName="carbohidratos" formControlName="carbohidratos">
        @if (carbohidratos.dirty) {
            @if (carbohidratos.hasError("required")) {
                <span class="errorMessage">Es requerido</span>
            }@else if (carbohidratos.hasError("min")) {
                <span class="errorMessage">El valor no puede ser negativo</span>   
            }@else if (carbohidratos.hasError("max")) {
                <span class="errorMessage">El maximo es de 5</span>   
            }
        }

        <label>Grasas:</label>
        <input type="number" formControlName="grasas" formControlName="grasas">
        @if (grasas.dirty) {
            @if (grasas.hasError("required")) {
                <span class="errorMessage">Es requerido</span>
            }@else if (grasas.hasError("min")) {
                <span class="errorMessage">El valor no puede ser negativo</span>   
            }@else if (grasas.hasError("max")) {
                <span class="errorMessage">El maximo es de 5</span>   
            }
        }

        <div class="botones">
            
            @if (isAdding()) {
                <button class="btn-aceptar" type="submit" (click)="handleAdd()" [disabled]="form.invalid">Agregar</button>
            }@else if (isEditing()) {
                <button class="btn-editar" type="submit" (click)="handleEdit()" [disabled]="form.invalid || form.pristine">Editar</button>
            }

            <button class="btn-denegar" type="button" (click)="handleCancel()">Cancelar</button>
        </div>

    </form>

</div>

    
<!-- si esta cargando bloqueamos la UI -->
@if (isLoading()) {
    <app-loading></app-loading>
}
