<div class="ver-dia-container">

  @if (cargando) {
  <p style="margin-top: 40px;">Cargando día...</p>
  } @else if (error) {
  <p style="margin-top: 40px; color: red;">{{ error }}</p>
  } @else if (dia) {

  <header class="resumen-dia">
  <h2>{{ formatearFechaCorta(fecha) }}</h2>

  <div class="progress-wrapper">
  <svg viewBox="0 0 120 60" class="progress-arc">
    <defs>
      <linearGradient id="arc-gradient" x1="0" x2="1">
        <stop offset="0%" stop-color="#ff7b54"/>
        <stop offset="50%" stop-color="#ffb86c"/>
        <stop offset="100%" stop-color="#ff3f3f"/>
      </linearGradient>
    </defs>

    <!-- Fondo del arco -->
    <path
      class="arc-bg"
      d="M10 50 A50 50 0 0 1 110 50"
    />

    <!-- Arco de progreso -->
    <path
      #arcFill
      class="arc-fill"
      [attr.stroke-dasharray]="getArcDash()"
      d="M10 50 A50 50 0 0 1 110 50"
    />
  </svg>

  <!-- Número de calorías -->
  <div class="arc-number">
    {{ calcularTotalCalorias() | number:'1.0-0' }}
    /
    {{ calcularTotalCalorias() + dia.caloriasRestantes | number:'1.0-0' }} kcal
  </div>
</div>

<div class="macros-resumen">
  <div class="macro">
    <span class="macro-label">Proteínas</span>
    <span class="macro-value">{{ getTotalesDelDia().proteinas | number:'1.0-0' }} g</span>
  </div>

  <div class="macro">
    <span class="macro-label">Carbos</span>
    <span class="macro-value">{{ getTotalesDelDia().carbohidratos | number:'1.0-0' }} g</span>
  </div>

  <div class="macro">
    <span class="macro-label">Grasas</span>
    <span class="macro-value">{{ getTotalesDelDia().grasas | number:'1.0-0' }} g</span>
  </div>
</div>



</header>



  <!-- barra de navegacion semanal -->

  <h2 class="titulo-semana"> Registro Semanal </h2>


  <div class="semana-container">


    <button class="boton-navegacion" (click)="cambiarSemana(-7)">

      ‹

    </button>


    <div class="semana">

      @for (dia of semana; track dia.iso) {

      <!--se le aplica clases css dinamicamente para luego modificar su vista segun la condicion -->
      <div class="dia" [class.hoy]="dia.iso === diaActualSeleccionado" [class.futuro]="dia.esFuturo"
        (click)="irAlDia(dia.iso)">

        <span class="nombre"> {{dia.fecha.getDate()}}</span>
        <span class="fecha"> {{dia.nombreDia}}</span>

      </div>

      }

    </div>


    <button class="boton-navegacion" (click)="cambiarSemana(7)">

      ›

    </button>

  </div>



  <!-- ======= COMIDAS ======= -->
  <section class="comidas-section">
    @for (tipo of types; track tipo) {
    <div class="comida-card">
    
      <div class="comida-header">
        <div class="contenedor-calorias-tipo">
        <h3>{{ tipo }}</h3>
  <div class="totales-tipo">
  <p>{{ getTotalesPorTipo(tipo).calorias | number:'1.0-0' }} kcal | </p>
  <p> {{ getTotalesPorTipo(tipo).proteinas | number:'1.1-2' }} P | </p>
  <p> {{ getTotalesPorTipo(tipo).carbohidratos | number:'1.1-2' }} C | </p>
  <p> {{ getTotalesPorTipo(tipo).grasas | number:'1.1-2' }} G</p>
</div>
    </div>
      
        <button class="btn-agregar" (click)="abrirAgregar(tipo)">+ Agregar</button>
      </div>
      <ul class="lista-alimentos">
        @if (tieneComidas(tipo)) {
        @for (comida of getComidasPorTipo(tipo); track comida.nombreComida) {

        <li class="alimento-item">
          <!-- Encabezado que actúa como botón -->
          <div class="alimento-header" (click)="toggleDetalle(comida)">
            <span>{{ comida.nombreComida}} ({{ comida.cantidad }} g)</span>
            <small>{{ comida.calorias | number:'1.0-0' }} kcal</small>
          </div>

          <!-- Detalle desplegable -->
          <div class="alimento-detalle" [class.mostrar]="comida.mostrar">
  <div class="info-macro-cards">
  <div class="macro-card macro-orange">
    <span class="macro-label">Proteínas</span>
    <span class="macro-value">{{ comida.proteinas | number:'1.2-2' }} g</span>
  </div>

  <div class="macro-card macro-orange">
    <span class="macro-label">Carbohidratos</span>
    <span class="macro-value">{{ comida.carbohidratos | number:'1.2-2' }} g</span>
  </div>

  <div class="macro-card macro-orange">
    <span class="macro-label">Grasas</span>
    <span class="macro-value">{{ comida.grasas | number:'1.2-2' }} g</span>
  </div>
</div>


  <div class="acciones">
    <form [formGroup]="formModificarCantidad">
      <label>Cantidad:</label>
      <input type="number" formControlName="cantidad">

      @if (cantidad.hasError('min')) {
        <div class="error-mensaje">
          <span>El campo cantidad no puede ser menor a 1</span>
        </div>
      } @else {
        @if (cantidad.hasError('required') && cantidad.touched) {
          <div class="error-mensaje">
            <span>El campo cantidad no puede ser menor a 1</span>
          </div>
        }
      }

      <button (click)="actualizarComida(comida)" 
              class="btn-actualizar"
              [disabled]="formModificarCantidad.invalid">
        Actualizar
      </button>

      <button class="eliminar" 
              (click)="onEliminarClick($event, comida)">
        Eliminar
      </button>
    </form>
  </div>
</div>

        </li>
        }
        } @else {
        <li><small style="color:#aaa;">Sin registros</small></li>
        }
      </ul>

    </div>
    }
  </section>
  <section class="actividades fisicas">


  </section>
  }
  @if (mostrarAgregar)
  {
  <div class="overlay" (click)="cerrarAgregar()"></div>

  <div class="modal-agregar">

    <!-- PESTAÑAS -->
    <div class="tabs">
      <button [class.active]="modalTab === 'buscar'" (click)="modalTab = 'buscar'">
        Buscar alimento
      </button>
      <button [class.active]="modalTab === 'favoritos'" (click)="modalTab = 'favoritos'">
        Favoritos
      </button>
    </div>

    <!-- CONTENIDO -->
    <div class="tab-content">

      <!-- TAB BUSCAR -->
      @if (modalTab === 'buscar')
      {
      <app-agregar-comida [tipoComida]="tipoSeleccionado" [fecha]="fecha" [attr.key]="modalKey"
        (cerrar)="cerrarAgregar()" (comidaAgregada)="cargarDia(fecha!); cerrarAgregar()">
      </app-agregar-comida>
      }

      <!-- TAB FAVORITOS -->
      @if (modalTab === 'favoritos')
      {
      <div class="favoritos-lista">
        @if (paquetes.length)
        {
        @for (paquete of paquetes; track paquete.nombrePaquete)
        {
        <div class="paquete-card">
          <h3>{{ paquete.nombrePaquete }}</h3>
          <ul>
            @for (alimento of paquete.alimentos; track alimento.id)
            {
            <li>{{ alimento.nombre }} - {{ alimento.gramos }} g</li>
            }
          </ul>
          <button class="btn-agregar" (click)="agregarFavorito(paquete.nombrePaquete)">
            Agregar al día
          </button>
        </div>
        }
        }
        @else
        {
        <p>No hay comidas favoritas cargadas.</p>
        }
      </div>
      }

    </div>
  </div>
  }