<div class="cotenedorPrincipal">

    @if (mode() == "system") {
        <div class="tituloConteiner">
            <h1>Solicitudes del Sistema</h1>
            <img src="iconos/add-icon.png" alt="Icono Agregar" (click)="openAdding()" class="iconoAgregar">
        </div>
    }@else{
        <div class="tituloConteiner">
            <h1>Mis Solicitudes</h1>
            <img src="iconos/add-icon.png" alt="Icono Agregar" (click)="openAdding()" class="iconoAgregar">
        </div>
    }

    @if (solicitudesList().length > 0) {
        
        @for (s of solicitudesList(); track $index; let indice = $index) {
    
            <div class="contenedorSolicitud">
                
                                                <!-- se manda el indice para que expanda ese elemento -->
                <div class="headerSolicitud" (click)="toggleExpand(indice)" >
                    <h2> {{s.nombreComida}} </h2>
                    
                    <img src="iconos\arrow-down-icon.png" 
                    alt="Icono Desplegable" class="arrowDown" 
                    [class.arrowUp]="expandedIndex==indice">   <!-- cuadno se cumple esa condicion (la tarjeta esta abierta) se aplica esa clase de css --> 
                </div>
                
                            <!-- si conincide el indice con el indiceDeExpansion se aplica la clase de css-->   <!-- lo vinculamos con la lista de los formularios con la posicion del inidce de nuestro @for -->
                <form class="contSolicitudForm" [class.contSolicitudFormTransition]="expandedIndex==indice"  [formGroup]="formList()[indice]">
                    <fieldset>
                        <label for="nombre">Nombre: </label>
                        <input type="text" id="nombre" formControlName="nombreComida">
                        @if (nombreComida(indice).dirty) {
                            @if (nombreComida(indice).hasError("required")) {
                                <span class="errorMessage">Es requerido</span>
                            }@else if (nombreComida(indice).hasError("minlength")) {
                             <span class="errorMessage">El minimo es de 2 letras</span>   
                            }@else if (nombreComida(indice).hasError("maxlength")) {
                             <span class="errorMessage">El maximo es de 20 letras</span>   
                            }@else if (nombreComida(indice).hasError("pattern")) {
                             <span class="errorMessage">Solo pueden ser letras</span>   
                            }
                        }
                    </fieldset>
                    
                    <fieldset>
                        <label for="porcion">Porcion: </label>
                        <input type="number" id="porcion" formControlName="porcion">
                        @if (porcion(indice).dirty) {
                            @if (porcion(indice).hasError("required")) {
                                <span class="errorMessage">Es requerido</span>
                            }@else if (porcion(indice).hasError("min")) {
                             <span class="errorMessage">El valor no puede ser negativo</span>   
                            }
                        }
                    </fieldset>
    
                    <fieldset>
                        <label for="calorias">Calorias: </label>
                        <input type="number" id="calorias" formControlName="calorias">
                        @if (calorias(indice).dirty) {
                            @if (calorias(indice).hasError("required")) {
                                <span class="errorMessage">Es requerido</span>
                            }@else if (calorias(indice).hasError("min")) {
                             <span class="errorMessage">El valor no puede ser negativo</span>   
                            }
                        }
                    </fieldset>
    
                    <fieldset>
                        <label for="proteinas">Proteinas: </label>
                        <input type="number" id="proteinas" formControlName="proteinas">
                        @if (proteinas(indice).dirty) {
                            @if (proteinas(indice).hasError("required")) {
                                <span class="errorMessage">Es requerido</span>
                            }@else if (proteinas(indice).hasError("min")) {
                             <span class="errorMessage">El valor no puede ser negativo</span>   
                            }
                        }
                    </fieldset>
    
                    <fieldset>
                        <label for="carbohidratos">Carbohidratos: </label>
                        <input type="number" id="carbohidratos" formControlName="carbohidratos">
                        @if (carbohidratos(indice).dirty) {
                            @if (carbohidratos(indice).hasError("required")) {
                                <span class="errorMessage">Es requerido</span>
                            }@else if (carbohidratos(indice).hasError("min")) {
                             <span class="errorMessage">El valor no puede ser negativo</span>   
                            }
                        }
                    </fieldset>
    
                    <fieldset>
                        <label for="grasas">Grasas: </label>
                        <input type="number" id="grasas" formControlName="grasas">
                        @if (grasas(indice).dirty) {
                            @if (grasas(indice).hasError("required")) {
                                <span class="errorMessage">Es requerido</span>
                            }@else if (grasas(indice).hasError("min")) {
                             <span class="errorMessage">El valor no puede ser negativo</span>   
                            }
                        }
                    </fieldset>
    
                    <fieldset>
                        <p>Fecha Solicitud: {{s.fecha}} </p>
                    </fieldset>
    
                    <div class="contendorBotones">
    
                        <!-- si hay se listan las del sistema se muestran estos botones -->
                        @if (mode() == "system") {
                            
                            <div>
                                <button class="botonSolicitud" id="botonAceptar" (click)="handleAccept(indice)" [disabled]="formList()[indice].invalid">Aceptar</button>
                                <button class="botonSolicitud" id="botonDenegar" (click)="handleDeny(indice)">Denegar</button>
                            </div>
    
                        }@else {
    
                            <div>
                                <button class="botonSolicitud" id="botonEditar" (click)="handleEdit(indice)" [disabled]="formList()[indice].invalid || formList()[indice].pristine">Editar</button>
                                <button class="botonSolicitud" id="botonDenegar" (click)="handleDelete(indice)">Borrar</button>
                            </div>
    
                        }
    
                    </div>
                </form>
                
            </div>
    
        }
    }@else {
        <h2 style="color: red;">No hay solicitudes cargadas</h2>
    }



    <!-- BLOQUEO DE UI CARGANDO -->
    @if (isLoading()) {
        <app-loading></app-loading>
    }


    <!-- VENATA MODAL PARA AGREGAR SOLICITUD -->
     @if (isAdding()) {
        <app-agregar-solicitud (isAdding)="closeAdding($event)" (solicitudAgregada)="addSolicitud($event)"></app-agregar-solicitud>
     }
</div>