<div class="cotenedorPrincipal">

    <h1> {{systemSolicitudes()? "Solicitudes del Sistema" : "Mis Solicitudes"}} </h1>

    @for (s of solicitudesList(); track $index; let indice = $index) {

        <div class="contenedorSolicitud">
            
                                            <!-- se manda el indice para que expanda ese elemento -->
            <div class="headerSolicitud" (click)="toggleExpand(indice)" >
                <h2> {{s.nombreComida}} </h2>
                
                <img src="iconos\arrow-down-icon.png" 
                alt="Icono Desplegable" class="arrowDown" 
                [class.arrowUp]="expandedIndex==indice">   <!-- cuadno se cumple esa condicion (la tarjeta esta abierta) se aplica esa clase de css --> 
            </div>
            
                        <!-- si conincide el indice con el indiceDeExpansion se aplica la clase de css-->   <!-- lo vinculamos con la lista de los formularios con la posicion del inidce de nuestro @for -->
            <form class="contSolicitudForm" [class.contSolicitudFormTransition]="expandedIndex==indice"  [formGroup]="formList()[indice]">
                <fieldset>
                    <label for="nombre">Nombre: </label>
                    <input type="text" id="nombre" formControlName="nombreComida">
                </fieldset>
                
                <fieldset>
                    <label for="porcion">Porcion: </label>
                    <input type="number" id="porcion" formControlName="porcion">
                </fieldset>

                <fieldset>
                    <label for="calorias">Calorias: </label>
                    <input type="number" id="calorias" formControlName="calorias">
                </fieldset>

                <fieldset>
                    <label for="proteinas">Proteinas: </label>
                    <input type="number" id="proteinas" formControlName="proteinas">
                </fieldset>

                <fieldset>
                    <label for="carbohidratos">Carbohidratos: </label>
                    <input type="number" id="carbohidratos" formControlName="carbohidratos">
                </fieldset>

                <fieldset>
                    <label for="grasas">Grasas: </label>
                    <input type="number" id="grasas" formControlName="grasas">
                </fieldset>

                <fieldset>
                    <p>Fecha Solicitud: {{s.fecha}} </p>
                </fieldset>

                <div class="contendorBotones">

                    @if (systemSolicitudes()) {
                        
                        <div>
                            <button class="botonSolicitud" id="botonAceptar" (click)="handleAccept(indice)">Aceptar</button>
                            <button class="botonSolicitud" id="botonDenegar" (click)="handleDeny(indice)">Denegar</button>
                        </div>

                    }@else {

                        <div>
                            <button class="botonSolicitud" id="botonEditar" (click)="handleEdit(indice)">Editar</button>
                            <button class="botonSolicitud" id="botonDenegar" (click)="handleDelete()">Borrar</button>
                        </div>

                    }

                </div>
            </form>
            
        </div>

    }


    <!-- BLOQUEO DE UI CARGANDO -->
    @if (isLoading()) {
        <div class="overlay">
            <div class="spinner"></div>
            <p>Cargando...</p>
        </div>
    }

</div>