<div class="titleConteiner">
    <h1 class="title">Nuestros Alimentos</h1>
    <img src="iconos/add-icon.png" alt="Icono Agregar" (click)="openAdding()" class="iconoAgregar">
</div>


<div class="mainContainer">

    <div class="searchContainer">
        <img src="iconos/search-icon.png" alt="Search Icon" (click)="buscar(busqueda.value)">
                            <!-- con # estamos referenciando al elemento en el DOOM pero manejado por angular-->
        <input type="text" placeholder="Buscar alimento..." #busqueda (keyup.enter)="buscar(busqueda.value)">
    </div>

    @if (notFound()) {
        <span class="errorMessage">No se encontro ningun alimento con: {{busqueda.value}} </span>
    }

    <div class="cardsContainer">
        @for (a of alimentosFiltrados();track $index; let indice = $index) {
            <div class="card">

                <h2>{{ a.nombreComida }}</h2>

                <div class="info">
                    <div class="info-row"><span class="info-label">Porción</span><span class="info-value">{{ a.gramosPorPorcion }} g</span></div>
                    <div class="info-row"><span class="info-label">Calorías</span><span class="info-value">{{ a.calorias }} kcal</span></div>
                    <div class="info-row"><span class="info-label">Proteínas</span><span class="info-value">{{ a.proteinas }} g</span></div>
                    <div class="info-row"><span class="info-label">Carbohidratos</span><span class="info-value">{{ a.carbohidratos }} g</span></div>
                    <div class="info-row"><span class="info-label">Grasas</span><span class="info-value">{{ a.grasas }} g</span></div>
                </div>

                <div class="butonsConteinter">
                    <button class="boton" id="btn-editar" type="button" (click)="openEdit(indice)">Editar</button>
                    <button class="boton" id="btn-borrar" type="button" (click)="handleDelete(indice)">Borrar</button>
                </div>
            </div>
        }
    </div>

</div>


@if (isLoading()) {
    <app-loading></app-loading>
}

@if (isAdding()) {
    <app-agregar-alimentos-bdd (isOpen)="isAdding.set($event)" [isAdding]="isAdding()" (comidaOutput)="addFood($event)"></app-agregar-alimentos-bdd>
}

@if (isEditing()) {
    <app-agregar-alimentos-bdd (isOpen)="isEditing.set($event)" [isEditing]="isEditing()" [comidaInput]="comidaEditando()" (comidaOutput)="editFood($event)"></app-agregar-alimentos-bdd>
}
