:host {
    width: 100%;
    min-height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #f5f5ff;
    padding: 40px 0;
}

.titleConteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;    

    margin-bottom: 50px;
}

/* TITULO */
.title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #3b3b73;
}

.iconoAgregar{
    transform: scale(0.9);
    cursor: pointer;

    transition: transform 200ms ease 0s;
}

.iconoAgregar:hover{
    transform: scale(1.0);
}

/* CONTENEDOR PRINCIPAL */
.mainContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*  BARRA DE BÚSQUEDA  */
.searchContainer {
    width: 40%;
    max-width: 250px;

    display: flex;
    align-items: center;
    gap: 10px;

    background: white;
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.searchContainer img {
    width: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.searchContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}

.errorMessage{
    margin-top: 10px;
    color: red;   
}

/* CARDS CONTAINER */
.cardsContainer {
    width: 100%;
    margin-top: 100px;

    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    width: 220px;
    min-height: 170px;

    background: white;
    border-radius: 16px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    flex-grow: 0;

    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
    transition: 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 14px rgba(0,0,0,0.18);
}

.card h2 {
    font-size: 1.3rem;
    color: #3b3b73;

    /* para nombres largos */
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info span {
    margin: 2px 0;
    color: #444;
    font-size: 0.9rem;
    font-weight: 600;

}


/* BUTONS */

.butonsConteinter{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boton{
    padding: 10px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;

    box-shadow: 0 0 5px black;

    transition: 
    transform 150ms ease 0s,
    background-color 150ms ease 0s;
}

.boton:hover{
    transform: scale(1.05);
}

#btn-editar{
    background: linear-gradient(120deg,
        rgb(0, 0, 220),
        rgba(0, 0, 220, 0.842),
        rgba(0, 0, 220, 0.692),
        rgba(0, 0, 220, 0.534),
        rgba(0, 0, 220, 0.692),
        rgba(0, 0, 220, 0.842),
        rgb(0, 0, 220)
    );
}

#btn-editar:hover{
    background: linear-gradient(120deg,
        rgb(0, 0, 220),
        rgba(0, 0, 220, 0.842),
        rgba(0, 0, 220, 0.692),
        rgba(0, 0, 220, 0.534),
        rgba(0, 0, 220, 0.692),
        rgba(0, 0, 220, 0.842),
        rgb(0, 0, 220)
    );
    opacity: 0.9;
    box-shadow: 0 0 5px rgb(0, 0, 190);
}

#btn-borrar{
    background: linear-gradient(400deg,
        rgb(235, 0, 0),
        rgba(235, 0, 0, 0.87),
        rgba(235, 0, 0, 0.781),
        rgba(235, 0, 0, 0.705),
        rgba(235, 0, 0, 0.705),
        rgba(235, 0, 0, 0.781),
        rgba(235, 0, 0, 0.87),
        rgb(235, 0, 0)
    );
}

#btn-borrar:hover{
    background: linear-gradient(400deg,
        rgb(235, 0, 0),
        rgba(235, 0, 0, 0.87),
        rgba(235, 0, 0, 0.781),
        rgba(235, 0, 0, 0.705),
        rgba(235, 0, 0, 0.705),
        rgba(235, 0, 0, 0.781),
        rgba(235, 0, 0, 0.87),
        rgb(235, 0, 0)
    );
    opacity: 0.9;
    box-shadow: 0 0 5px rgb(205, 0, 0);
}

