<nav class="cabecera">

    <div class="izquierda">

        <h1 class="logo-text" (click)="redirectHome()">NutriApp</h1>

        @if (auth.isLoggedIn()) {

        <div class="conetendorBotonCabecera">
            <a class="botonCabecera" [routerLink]="['/calendario', fechaHoy]" routerLinkActive="active">Mi
                Calendario</a>
        </div>

        <div class="conetendorBotonCabecera">
            <a class="botonCabecera" [routerLink]="['/dia', fechaHoy]" routerLinkActive="active">Día de Hoy</a>
        </div>

        <div class="conetendorBotonCabecera">
            <a routerLink="/favoritas" routerLinkActive="active" class="botonCabecera">Agregar Comida Favorita</a>
        </div>
        <div class="conetendorBotonCabecera">
            <a routerLink="/chat" routerLinkActive="active" class="botonCabecera">Ir a NutriBot</a>
        </div>

        }@else {

        <div class="conetendorBotonCabecera">
            <a class="botonCabecera especial-login" (click)="irASeccion('nosotros-section')">
                Nosotros
            </a>
        </div>
        }
    </div>

    <div class="derecha">
        @if (auth.isLoggedIn()) {

            <div class="conetendorIconoCabecera" (click)="perfilPopover.togglePopover()">
                <img src="iconos/person-icon.png" alt="Icono Persona" class="iconoPopeable">
            </div>
            <div class="cajaPerfil" id="menuPerfil" #perfilPopover popover="manual">
                <a routerLink="/perfil" (click)="perfilPopover.togglePopover()" class="botonDesplegablePerfil">Perfil</a>

                @if (role() == "ROLE_ADMIN") {
                    <a routerLink="/listar-solicitudes/system" (click)="perfilPopover.togglePopover()" class="botonDesplegablePerfil">Solicitudes del Sistema</a>
                    <a routerLink="/alimentos-bdd" (click)="perfilPopover.togglePopover()" class="botonDesplegablePerfil">Alimentos del Sistema</a>
                }@else {
                    <a routerLink="/listar-solicitudes/mine" (click)="perfilPopover.togglePopover()" class="botonDesplegablePerfil">Mis Solicitudes</a>
                }
                <a routerLink="/login" class="botonDesplegablePerfil botonDesplegablePerfil-salir" (click)="perfilPopover.togglePopover(); logOut()">Cerrar Sesion</a>
            </div>

        }@else {
        <a routerLink="/login" id="iniciarSesion">Iniciar Sesion</a>
        }

        <!-- DESPLEGABLE QUE SOLO SE MUESTRA EN CELULAR (CSS se encarga) -->
        <div class="hamburger" id="hamburgerMenu" (click)="toggleMenu()">
            <img src="iconos/desplegable-icon.png" alt="Menu">
        </div>

        <div class="menuMobile" id="menuMobile" #mobilePopover popover="manual">

            @if (auth.isLoggedIn()) {

            <div class="conetendorBotonCabecera">
                <a class="botonCabecera" [routerLink]="['/calendario', fechaHoy]" routerLinkActive="active" (click)="mobilePopover.togglePopover()">Mi
                    Calendario</a>
            </div>

            <div class="conetendorBotonCabecera">
                <a class="botonCabecera" [routerLink]="['/dia', fechaHoy]" routerLinkActive="active" (click)="mobilePopover.togglePopover()">Día de Hoy</a>
            </div>

            <div class="conetendorBotonCabecera">
                <a routerLink="/favoritas" routerLinkActive="active" class="botonCabecera" (click)="mobilePopover.togglePopover()">Agregar Comida Favorita</a>
            </div>

            <div class="conetendorBotonCabecera">
                <a routerLink="/chat" routerLinkActive="active" class="botonCabecera" (click)="mobilePopover.togglePopover()">Ir a NutriBot</a>
            </div>

            }@else {

            <div class="conetendorBotonCabecera">
                <a class="botonCabecera especial-login" (click)="irASeccion('nosotros-section'); mobilePopover.togglePopover()">
                    Nosotros
                </a>
            </div>
            }

        </div>
    </div>

</nav>
