/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #ffffff;
    --font-color-white-hover: rgb(255, 255, 255);
    --font-color-grey: rgb(184, 184, 184);
    --outline: oklch(36.98% .014 302.71);
    --orange: #ff6600;
    --yellow: #ffcc00;
    --orange-soft: #ff6600f1;
    --yellow-soft: #ffcc00ee;
    --beige: linear-gradient(
        180deg,
        #fff7ee 0%,
        #fdf0e1 100%
      );
    --white-soft: rgba(224, 219, 255, 0.295);
    --chocolate: #7a441a;
    --crema: linear-gradient(90deg, #fff2e3 0%, #ffe5b3 100%);
}

body{
    background-color: var(--background-color);
}

